.footer {
    padding: 25px 0;
    box-shadow: 0 2px 8px rgba(95,65,175,.5), inset 0 1px rgba(255,255,255,.3), inset 0 10px rgba(255,255,255,.2), inset 0 10px 20px rgba(255,255,255,.25), inset 0 -15px 30px rgba(126,53,211,.3);
}

