.header-section {
    display: flex;
    max-width: 1440px;
    padding-top: 14px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 13px;

    border: 1.5px solid black;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-link {
    display: flex;
    align-items: center;
}

.icon-bookshelf {
    margin-left: 8px;

}

.icon-logo {
    text-align: center;
}

.header-nav {
    display: flex;
    gap: 24px;
    text-align: center;
    align-items: center;
    margin-left: 72px;
}

button {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(18 / 14);
    text-transform: uppercase;

}

.home-btn {

    padding: 8px 16px;
    border-radius: 36px;
    background-color: transparent;
    border: none;
    margin-top: 0px;
    margin-bottom: 0px;
    cursor: pointer;
}

.list-btn {

    display: flex;
    align-items: center;
    border-radius: 36px;
    padding: 7px 16px;
    background-color: transparent;
    margin-top: 0px;
    margin-bottom: 0px;
    border: none;
    cursor: pointer;
}

.list-btn-svg {
    margin-left: 4px;
}

.header-nav .current {
    background-color: #EAC645;
    font-weight: 700;
}

.settings-nav {
    display: flex;
    margin-left: auto;
    align-items: center;
    gap: 24px;
}

.authorisation-btn {
    position: relative;
    display: flex;
    font-weight: 700;
    font-size: 22px;
    line-height: calc(28 / 22);
    color: white;
    background-color: #4F2EE8;
    border: none;
    border-radius: 36px;
    padding-left: 12px;
    padding-right: 18px;
    padding-top: 8px;
    padding-bottom: 8px;
    align-items: center;
    cursor: pointer;
}

.arr-icon {
    margin-left: 10px;
}

.user-icon {
    position: absolute;
    margin-right: 20px;
    margin-left: 9px;
    z-index: 1;
}

.authorisation-btn::before {
    content: '';
    margin-right: 9px;
    display: block;
    width: 37px;
    height: 37px;
    border-radius: 50%;
    background-color: aliceblue;
}

.checkbox {
    width: 40px;
    height: 20px;

    /* background-color: #4F2EE8; */
    background: linear-gradient(top, #4F2EE8 0%, #DCDCDC 100%);
    position: relative;
    border-radius: 50px;
    box-shadow: inset 1px 1px 2px 0px rgba(0, 0, 0, 0.5);
}

.checkbox:after {
    content: '';
    position: absolute;
    right: 10px;
    z-index: 0;
    font-weight: bold;
    text-shadow: 1px 1px 0px rgba(255, 255, 255, .15);
}

.checkbox:before {
    content: '';
    position: absolute;
    left: 10px;
    z-index: 0;
    font-weight: bold;
}

.checkbox-lable {
    display: block;
    width: 18px;
    height: 18px;
    cursor: pointer;
    position: absolute;
    top: 1px;
    left: 1px;
    z-index: 1;
    background: #fcfff4;
    background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    border-radius: 50px;
    transition: all 0.4s ease;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
}

.checkbox-input {
    visibility: hidden;
}

.checkbox-input:checked+label {
    left: 21px;
}



.burger-meny-btn {
    background-color: transparent;
    border: transparent;
    /* margin-left: auto; */
    cursor: pointer;
    /* display: none; */
}

.burger-meny-icon {
    stroke: #111111;
}