.section.header-section {
  padding-top: 0;
  padding-bottom: 0;
}

.header-container {
  display: flex;
  padding-top: 14px;
  padding-bottom: 13px;
  border: 1.5px solid var(--dark-theme-componemt);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.authorisation-btn-desktop.is-hidden-btn {
  display: none;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-link {
  display: flex;
  align-items: center;
}

.icon-bookshelf {
  margin-left: 8px;

  transition: fill 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-link:hover,
.logo-link:focus,
.icon-bookshelf:hover,
.icon-bookshelf:focus {
  fill: var(--color-blue-component);
}

.icon-logo {
  text-align: center;
  transition: transform 550ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-link:hover,
.logo-link:focus,
.icon-logo:hover,
.icon-logo:focus {
  transform: rotate(360deg);
  fill: var(--color-blue-component);
}

.header-nav {
  position: relative;
  height: 36px;
  display: flex;
  gap: 24px;
  text-align: center;
  align-items: center;
  margin-left: 72px;
}

@media screen and (max-width: 1439.98px) {
  .header-nav {
    margin-left: 40px;
  }
}

.home-btn {
  padding: 8px 16px;
  border-radius: 36px;
  background-color: transparent;
  border: none;
  margin-top: 0px;
  margin-bottom: 0px;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(18 / 14);
  text-transform: uppercase;
  height: 36px;
  transition: transform 350ms cubic-bezier(0.4, 0, 0.2, 1), color 350ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 350ms cubic-bezier(0.4, 0, 0.2, 1), text-shadow 350ms cubic-bezier(0.4, 0, 0.2, 1), font-size 350ms cubic-bezier(0.4, 0, 0.2, 1);

}

.list-btn {

  display: flex;
  height: 36px;
  align-items: center;
  border-radius: 36px;
  padding: 8px 16px;
  background-color: transparent;
  margin-top: 0px;
  margin-bottom: 0px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(18 / 14);
  text-transform: uppercase;

  transition: transform 350ms cubic-bezier(0.4, 0, 0.2, 1), color 350ms cubic-bezier(0.4, 0, 0.2, 1), fill 350ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 350ms cubic-bezier(0.4, 0, 0.2, 1), text-shadow 350ms cubic-bezier(0.4, 0, 0.2, 1), stroke 350ms cubic-bezier(0.4, 0, 0.2, 1), font-size 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-btn-svg {
  margin-left: 4px;
}

.home-btn:hover,
.home-btn:focus,
.list-btn:hover,
.list-btn:focus {
  background-color: var(--color-yellow-componemt);
  color: var(--ligtht-theme);
  stroke: #00000050;
  fill: white;
  text-shadow: 0px 1px 2px #000000;
  transform: scale(1.01);

  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15), 1px 5px 18px -1px rgba(231, 166, 26, 0.72);
}

.list-btn-svg:hover,
.list-btn-svg:focus {
  fill: white;
}

.current {
  background-color: var(--color-yellow-componemt);
  font-weight: 700;
}

.settings-nav {
  display: flex;
  margin-left: auto;
  align-items: center;
  height: 30px;
  /* gap: 24px; */
}

@media screen and (min-width: 768px) {
  .settings-nav {
    gap: 24px;
  }
}

.user-btn {
  position: relative;
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(18 / 16);
  color: var(--ligtht-theme);
  background-color: var(--color-blue-component);
  border: none;
  border-radius: 36px;
  padding-left: 12px;
  padding-right: 18px;
  padding-top: 4px;
  padding-bottom: 4px;
  align-items: center;
  cursor: pointer;
  min-width: 186px;
  max-width: 186px;

  transition: transform 550ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

.user-name-btn {
  text-transform: capitalize;
  width: 80px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: horizontal;
}

body.dark-theme .authorisation-btn:hover,
body.dark-theme .authorisation-btn:focus,
body.dark-theme .user-btn:hover,
body.dark-theme .user-btn:hover {
  box-shadow: 0px 4px 4px 0px rgba(74, 74, 181, 0.4), 1px 5px 18px -1px rgba(231, 166, 26, 0.72);
}

.select-user-container {
  position: relative;
  z-index: 1000;
}

.wraper-user-select {
  position: absolute;
  top: 52px;
  left: -3px;
  right: -3px;
}

.user-select {

  display: flex;
  flex-direction: column;
  gap: 5px;

  padding-top: 5px;
  padding-bottom: 5px;
  align-items: center;
  background-color: rgba(247, 247, 247, 0.2);
  backdrop-filter: blur(2px);
  border: 1px solid rgba(247, 247, 247, 0.35);
  border-radius: 18px;
  border-top-left-radius: 0px;

  overflow: hidden;

  transform: translateY(-104%);
}

.active-user-select {
  transform: translateY(0%)
}

.user-select-btn {
  display: flex;
  transition: 350ms linear;

}

.animate {
  margin-left: 80px;
  stroke: var(--color-yellow-componemt);
  transition: 350ms linear;
}


.animate:hover,
.animate:focus {
  rotate: 180deg;
}


.user-select-btn:hover,
.user-select-btn:focus {
  scale: 1.02;
}

.authorisation-btn {
  position: relative;
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(18 / 14);
  color: var(--ligtht-theme);
  background-color: var(--color-blue-component);
  border: 1.5px solid var(--dark-theme-componemt);
  border-radius: 18px;
  padding-left: 12px;
  padding-right: 18px;
  padding-top: 14px;
  padding-bottom: 14px;
  align-items: center;
  cursor: pointer;

  transition: transform 350ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

.user-btn:hover,
.user-btn:focus {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15), 3px 12px 38px -5px rgba(38, 34, 112, 0.494);
  transform: scale(1.01);
}

.authorisation-btn:hover,
.authorisation-btn:focus {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15), 3px 12px 38px -5px rgba(38, 34, 112, 0.494);
  transform: scale(1.01);
}

.authorisation-btn.is-hidden-btn {
  display: none;
}

.arr-icon {
  margin-left: 10px;
}

.arr-icon-yellow {
  stroke: var(--color-yellow-componemt);
  margin-left: 90px;
}

.user-icon {
  position: absolute;
  margin-right: 20px;
  margin-left: 9px;
  z-index: 1;
}

.user-btn::before {
  content: '';
  margin-right: 9px;
  display: block;
  width: 37px;
  height: 37px;
  border-radius: 50%;
  background-color: var(--ligtht-theme);
}

.checkbox {
  width: 40px;
  height: 20px;

  background: linear-gradient(var(--color-blue-component) 0%, var(--ligtht-theme) 100%);

  margin-right: 24px;
  position: relative;
  border-radius: 50px;
  box-shadow: inset 1px 1px 2px 0px rgba(0, 0, 0, 0.5);
}

.checkbox:after {
  content: '';
  position: absolute;
  right: 10px;
  z-index: 0;
  font-weight: bold;
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.15);
}

.checkbox:before {
  content: '';
  position: absolute;
  left: 10px;
  z-index: 0;
  font-weight: bold;
}

.checkbox-lable {
  display: block;
  width: 18px;
  height: 18px;
  cursor: pointer;
  position: absolute;
  top: 1px;
  left: 1px;
  z-index: 1;
  background: var(--ligtht-theme);
  border-radius: 50px;
  transition: all 0.4s ease;
  /* box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3); */
  box-shadow: inset 2px -3px 5px 0px var(--color-blue-component);
}

.checkbox-input {
  visibility: hidden;
}

.checkbox-input:checked+label {
  left: 21px;
  background-color: var(--ligtht-theme);
  box-shadow: inset 0px -3px 5px 0px var(--color-blue-component);
}

.burger-meny-btn {
  background-color: transparent;
  border: transparent;
  padding: 0px;
  cursor: pointer;
  /* margin-left: 24px; */
}

.burger-meny-icon {
  stroke: var(--dark-theme-componemt);
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 550ms cubic-bezier(0.4, 0, 0.2, 1);
}

.burger-meny-icon:hover,
.burger-meny-icon:focus {
  stroke: var(--color-yellow-componemt);
  transform: rotate(360deg);
}

@media screen and (min-width: 768px) {
  .burger-meny-btn {
    display: none;
  }
}

@media screen and (max-width: 767.98px) {

  .wraper-user-select,
  .authorisation-btn,
  .header-nav,
  .user-btn {
    display: none;
  }
}

.is-hidden-mobile {
  opacity: 0;
}

.is-hidden-btn {
  display: none;
  pointer-events: none;
}

.close-menu-btn {
  width: 28px;
  height: 28px;
  padding: 0px;
  background-color: transparent;
  border: transparent;
  color: var(--dark-theme-componemt);
  cursor: pointer;
  /* margin-left: 24px; */
}

.close-menu-icon {
  stroke: var(--dark-theme-componemt);

  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 550ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-menu-icon:hover,
.close-menu-icon:focus {

  stroke: var(--color-yellow-componemt);
  transform: rotate(360deg);
}

.log-out-btn-big {
  padding: 14px;
  align-items: center;
  text-align: center;

  background-color: white;
  border: 1.5px solid black;
  border-radius: 18px;

  font-weight: 500;
  font-size: 14px;
  line-height: calc(18 / 14);
  text-transform: capitalize;

  z-index: 2;
}

.log-out-icon.big {
  margin-left: 85px;
}