.scrollBtn {
    position: fixed;
    top: 80%;
    left: 80%;
    width: 54px;
    height: 54px;
    border-width: 5px;
    border-style: solid;
    border-radius: 50%;
    color: white;
    border-color:  rgba(255, 255, 255, 0.3);
    background-color: #4f2ee8;
}

.scrollBtn.scrollBtn-hide {
    display: none;
}