.js-list-rendering {
  list-style-type: none;
  display: flex;
  justify-content: center;
}
.rendering-gap {
  flex-wrap: wrap;

  row-gap: 40px;
}

@media screen and (min-width: 768px) {
  .rendering-gap {
    flex-wrap: wrap;
    column-gap: 25px;
    row-gap: 40px;
  }
}

@media screen and (min-width: 1440px) {
  .rendering-gap {
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 40px;
  }
}
