.js-list-rendering {
    list-style-type: none;
    display: flex;
    /* flex-wrap: wrap; */
    /* gap: 10px; */
    justify-content: center;
  }
 
  .flex-element-rendering {
    flex-basis: calc((100% - 40px) / 3);
    border-radius: 15px;
    border: 1px purple solid;
    padding: 15px;
    /* display: flex; */
    align-items: center;
    background-color: blanchedalmond;
  }