.js-list-rendering {
  list-style-type: none;
  display: flex;
  /* flex-wrap: wrap; */
  /* gap: 10px; */
  justify-content: center;
}

.rendering-gap {
  flex-wrap: wrap;
  gap: 22px;
}

.flex-element-rendering {
  flex-basis: calc((100% - 40px) / 3);
 
}
