.collection-title span {
  color: var(--color-blue-component);
}

.books-collection {
  display: flex;
  flex-direction: column;
}

.top-books {
  display: flex;
  gap: 24px;
}

@media screen and (max-width: 767px) {
  .top-books li:nth-child(n + 2) {
    display: none;
  }
  .book-card {
    max-width: 335px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .top-books li:nth-child(n + 4) {
    display: none;
  }
  .book-card {
    max-width: 218px;
  }
}

@media screen and (min-width: 1440px) {
  .top-books li {
    display: block;
  }
  .book-card {
    max-width: 180px;
  }
}
