/* всплывающий текст при ховере */
/* ============================ */

.book-thumb {
  position: relative;
  overflow: hidden;

  border-radius: 8px;
  margin-bottom: 14px;
  cursor: pointer;
}

.book-descr {
  cursor: pointer;
}

.quick-view {
  pointer-events: none;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 28%;
  bottom: 0;
  left: 0;
  background-color: #EAC645;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  opacity: 0;
}

.book-card:hover .quick-view {
  opacity: 1;
  transform: translateY(0%);
}

.quick-view-text {
  font-size: 18px;
  font-weight: 600;

}

/* =============================== */

.collection-title span {
  color: var(--color-blue-component);
}

.books-collection {
  display: flex;
  flex-direction: column;
}

.top-books {
  display: flex;
  gap: 24px;
  
  
}

.book-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.book-author {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.book-card-btn {
  height: 46px;
  font-weight: 700;
}

.book-category-item {
  margin-bottom: 40px;
}

@media screen and (max-width: 767px) {
  .collection-title {
    font-size: 19px;
  }
  .bestsel-books li:nth-child(n + 2) {
    display: none;
  }
  .book-cover {
    width: 100%;
    height: 485px;
    margin-bottom: 0;
  }
  .book-card {
    max-width: 335px;
    margin-bottom: 8px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .collection-title {
    font-size: 40px;
  }
  .bestsel-books li:nth-child(n + 4) {
    display: none;
  }
  .book-cover {
    width: 100%;
    height: 316px;
    margin-bottom: 0;
  }
  .book-card {
    max-width: 218px;

    margin-bottom: 0;
  }

  .top-books {
    margin-bottom: 20px;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1440px) {
  .collection-title {
    font-size: 48px;
  }
  .bestsel-books li {
    display: block;
  }
  .book-cover {
    width: 100%;
    height: 256px;
    margin-bottom: 0;
  }
  .book-card {
    max-width: 180px;
    margin-bottom: 0;
  }
  .top-books {
    margin-bottom: 32px;
  }
    .quick-view-text {
      font-size: 14px;
      font-weight: 600;
  
    }
}

