<h1 class="shop-main-title">
  Shopping <span class="shop-sub-main-title">List</span>
</h1>

<div class="shop-base-background">
  <p class="shop-text-backgr">
    This page is empty, add some books and proceed to order.
  </p>
  <picture class="shop-img-backgr">
    <!-- <source
      srcset="
        ../../images/shopping-list/shoplist-backgr-desk@1x.png 1x,
        ../../images/shopping-list/shoplist-backgr-desk@2x.png 2x
      "
      media="(min-width:1440px)"
    />
    <source
      srcset="
        ../../images/shopping-list/shoplist-backgr-tabl@1x.png 1x,
        ../../images/shopping-list/shoplist-backgr-tabl@2x.png 2x
      "
      media="(min-width:768px)"
    />
    <source
      srcset="../../images/shopping-list/shoplist-backgr-mob@2x.png 2x"
      media="(max-width:767px)"
    />
    <img
      src="../../../images/shopping-list/shoplist-backgr-mob@1x.png"
      alt="Books"
      width="265"
      height="198"
      loading="lazy"
    /> -->
  </picture>
</div>
