<div>
  <div class="title-wrapper">
    <h1 class="shop-main-title">
      Shopping <span class="shop-sub-main-title">List</span>
    </h1>

    <button type="button" class="remove-books" hidden>Remove all books</button>
  </div>
  <div class="shop-base-background js-shop-background">
    <p class="shop-text-backgr">
      This page is empty, add some books and proceed to order.
    </p>
    <div class="shop-img-backgr"></div>
  </div>
  <p class="amount-books"></p>
  <ul class="shop-list-books js-shop-list"></ul>

  <div id="pagination" class="tui-pagination"></div>
</div>
