<section class="section footer_section">
  <div
    class="container footer_container footer_container_shop footer_container_group"
  >
    <div class="footer_wrapper">
      <p class="footer_text_left">© 2023 | All Rights Reserved |</p>
      <p class="footer_text_right">
        Developed with
        <a href="group.html">
          <svg class="footer_icon heart_beats" width="25" height="25">
            <use href="/src/images/heart.svg#icon-heart"></use>
          </svg>
        </a>
        by GoIT Students
      </p>
    </div>
  </div>
</section>
