<section class="section header-section">
  <div class="container header-container">
    <div class="logo">
      <a href="index.html" class="logo-link">
        <svg class="icon-logo" width="24" height="24">
          <use href="./images/symbol-defs.svg#icon-logo"></use>
        </svg>
        <svg class="icon-bookshelf" width="77" height="14">
          <use href="./images/symbol-defs.svg#icon-Bookshelf"></use>
        </svg>
      </a>
    </div>
    <ul class="header-nav">
      <li>
        <a class="home-btn current js-link" href="index.html">Home</a>
      </li>
        <li class="group-thanks">Thanks a lot to the team for a great job!</li>
      </ul>

    </div>
  </div>
</section>