<section class="section header-section">
  <div class="container header-container">
    <div class="logo">
      <a href="index.html" class="logo-link">
        <svg class="icon-logo" width="24" height="24">
          <use href="./images/symbol-defs.svg#icon-logo"></use>
        </svg>
        <svg class="icon-bookshelf" width="77" height="14">
          <use href="./images/symbol-defs.svg#icon-Bookshelf"></use>
        </svg>
      </a>
    </div>
    <ul class="header-nav">
      <li>
        <a class="home-btn current js-link" href="index.html">Home</a>
      </li>
      <li class="group-thanks">Thanks a lot to the team for a great job!</li>
    </ul>
    <div class="settings-nav">
      <div class="checkbox">
        <input
          class="checkbox-input"
          type="checkbox"
          value="None"
          id="checkbox"
          name="check"
          checked
        />
        <label class="checkbox-lable" for="checkbox"></label>
      </div>
      <button class="burger-meny-btn js-burger" type="button">
        <svg class="burger-meny-icon" width="28" height="28">
          <use href="./images/symbol-defs.svg#icon-burger-meny"></use>
        </svg>
      </button>
      <button class="close-menu-btn js-close-menu is-hidden-btn" type="button">
        <svg class="close-menu-icon" width="18" height="18">
          <use href="./images/symbol-defs.svg#close-btn-icon"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
