<!-- <div>Файл для розмітки модального вікна - мобільне меню</div> -->

<div class="wraper-mobile-menu js-wraper-mobile-menu is-hidden-mobile">
  <div class="modal-mobile-menu js-modal-mobile-menu">
    <button class="authorisation-btn mobile-menu-authorisation-btn">
      Sign up
      <svg class="log-out-icon" width="20" height="20">
        <use href="./images/symbol-defs.svg#icon-arrow"></use>
      </svg>
    </button>
    <div class="user-modal is-hidden">
      <img
        class="user-modal-img"
        src="./images/modal-mobile-menu/user.png"
        alt=""
        width="37"
        height="37"
      />
      <h2 class="user-name">User</h2>
    </div>
    <ul class="header-nav nav-modal is-hidden">
      <li>
        <a class="modal-home-btn js-modal-home-btn current" href="index.html"
          >Home</a
        >
      </li>
      <li>
        <a
          class="modal-list-btn js-modal-list-btn shoppingListMob"
          href="shoplist.html"
        >
          Shopping list
          <svg class="list-btn-svg-menu fill" width="20" height="20">
            <use href="./images/symbol-defs.svg#icon-uil_cart"></use>
          </svg>
        </a>
      </li>
    </ul>
    <div class="bg-gallery">
      <img
        class="gallery-img"
        src="./images/modal-mobile-menu/image_13.png"
        alt=""
        width="84"
        height="134"
      />
      <img
        class="gallery-img"
        src="./images/modal-mobile-menu/image_14.png"
        alt=""
        width="80"
        height="130"
      />
      <img
        class="gallery-img"
        src="./images/modal-mobile-menu/image_11.png"
        alt=""
        width="80"
        height="130"
      />
      <img
        class="gallery-img"
        src="./images/modal-mobile-menu/image_15.png"
        alt=""
        width="80"
        height="130"
      />
      <img
        class="gallery-img"
        src="./images/modal-mobile-menu/image_17.png"
        alt=""
        width="80"
        height="130"
      />
      <img
        class="gallery-img"
        src="./images/modal-mobile-menu/image_16.png"
        alt=""
        width="80"
        height="130"
      />
      <img
        class="gallery-img"
        src="./images/modal-mobile-menu/image_18.png"
        alt=""
        width="80"
        height="130"
      />
      <img
        class="gallery-img"
        src="./images/modal-mobile-menu/image_12.png"
        alt=""
        width="80"
        height="130"
      />

      <img
        class="gallery-img"
        src="./images/modal-mobile-menu/image_19.png"
        alt=""
        width="80"
        height="130"
      />
      <img
        class="gallery-img"
        src="./images/modal-mobile-menu/image_20.png"
        alt=""
        width="80"
        height="130"
      />
      <img
        class="gallery-img"
        src="./images/modal-mobile-menu/image_21.png"
        alt=""
        width="80"
        height="130"
      />
      <img
        class="gallery-img"
        src="./images/modal-mobile-menu/image_22.png"
        alt=""
        width="80"
        height="130"
      />
    </div>
    <button class="log-out-btn is-hidden">
      Log out
      <svg class="log-out-icon" width="20" height="20">
        <use href="./images/symbol-defs.svg#icon-arrow"></use>
      </svg>
    </button>
  </div>
</div>
