<div class="overlayLoginForm"></div>
<div class="modal-login-form">
  <div>
    <button class="modal-login-form-close-btn"></button>
  </div>

  <form class="modal-login-out" name="products-form">
    <div class="modal-login-form-input">
      <input
        type="text"
        class="modal-login-form-name"
        placeholder="NAME"
        required
        minlength="4"
        title="Name must be at least 4 letters long."
      />

      <input
        type="email"
        class="modal-login-form-email"
        id="email"
        name="email"
        placeholder="EMAIL"
        required
        title="enter your email address, don't forget to use the obligatory symbol @ "
      />

      <input
        type="password"
        class="modal-login-form-password"
        id="password"
        name="password"
        placeholder="PASSWORD"
        required
      />
    </div>

    <button type="button" class="modal-login-btn">SIGN UP</button>
    <ul class="modal-login-list">
      <li>
        <a href="">SIGN UP</a>
      </li>
      <li>
        <a href="">SIGN IN</a>
      </li>
    </ul>
  </form>
  <form class="modal-login-in" name="products-form">
    <div class="modal-login-form-input">
      <input
        type="text"
        class="modal-login-form-name"
        placeholder="NAME"
        required
        minlength="4"
        title="Name must be at least 4 letters long."
      />

      <input
        type="email"
        class="modal-login-form-email"
        id="email"
        name="email"
        placeholder="EMAIL"
        required
        title="enter your email address, don't forget to use the obligatory symbol @ "
      />

      <input
        type="password"
        class="modal-login-form-password"
        id="password"
        name="password"
        placeholder="PASSWORD"
        required
      />
    </div>

    <button type="button" class="modal-login-btn">SIGN IN</button>
    <ul class="modal-login-list">
      <li>
        <a href="">SIGN UP</a>
      </li>
      <li>
        <a href="">SIGN IN</a>
      </li>
    </ul>
  </form>
</div>
