<section class="section">
  <div class="container">
    <div class="team_wrap">
      <div class="team_card">
        <div class="team_front">
          <img
            src="/src/images/teamPageIcon/team_photo/rosovska.png"
            alt="rosovska" loading="lazy"
          />
        </div>
        <div class="team_back">
          <div>
            <div class="team_people">
              <h1 class="team_name">Viktoria Rosovska</h1>
              <p class="team_position">Team Lead</p>
            </div>
            <ul class="team_social-list">
              <!-- <li class="team_social-list-item"
                ><a class="team_social-list-link" href="#"
                  ><svg width="20" height="20">
                    <use href="/src/images/teamPageIcon/sprite.svg#icon-instagram"></use>
                  </svg>
                    </a
              ></li> -->
              <li class="team_social-list-item">
                <a
                  class="team_social-list-link"
                  target="_blank"
                  href="https://github.com/ViktoriaRosovska"
                  ><svg style="fill: white" width="20" height="20">
                    <use
                      href="/src/images/teamPageIcon/symbol-defs.svg#icon-github"
                    ></use></svg
                ></a>
              </li>
              <!-- <li class="team_social-list-item"
                ><a class="team_social-list-link" href="#"
                  ><svg width="20" height="20">
                    <use href="/src/images/teamPageIcon/sprite.svg#icon-facebook"></use>
                  </svg></a
              ></li> -->
              <li class="team_social-list-item">
                <a
                  class="team_social-list-link"
                  target="_blank"
                  href="https://www.linkedin.com/in/viktoria-rosovska-7b6b34274 "
                  ><svg width="20" height="20">
                    <use
                      href="/src/images/teamPageIcon/sprite.svg#icon-linkedin"
                    ></use></svg
                ></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="team_card">
        <div class="team_front">
          <img
            src="/src/images/teamPageIcon/team_photo/Svitlana_Buivol.png"
            alt="svitlana" loading="lazy"
          />
        </div>
        <div class="team_back">
          <div>
            <div class="team_people">
              <h1 class="team_name">Svitlana Buivol</h1>
              <p class="team_position">Scrum Master</p>
            </div>
            <ul class="team_social-list">
              <!-- <li class="team_social-list-item"
                ><a class="team_social-list-link" href="#"
                  ><svg width="20" height="20">
                    <use href="/src/images/teamPageIcon/sprite.svg#icon-instagram"></use>
                  </svg>
                    </a
              ></li> -->
              <li class="team_social-list-item"
                ><a class="team_social-list-link" href="https://github.com/SvetlanaBuivol"
                  ><svg style="fill: white;" width="20" height="20">
                    <use href="/src/images/teamPageIcon/symbol-defs.svg#icon-github"></use>
                  </svg></a
              ></li>
              <!-- <li class="team_social-list-item"
                ><a class="team_social-list-link" href="#"
                  ><svg width="20" height="20">
                    <use href="/src/images/teamPageIcon/sprite.svg#icon-facebook"></use>
                  </svg></a
              ></li> -->
              <!-- <li class="team_social-list-item"
                ><a class="team_social-list-link" href="#"
                  ><svg width="20" height="20">
                    <use href="/src/images/teamPageIcon/sprite.svg#icon-linkedin"></use>
                  </svg></a
              ></li> -->
            </ul>
          </div>
        </div>
      </div>
      <div class="team_card">
        <div class="team_front">
          <img
            src="/src/images/teamPageIcon/team_photo/krylov.png"
            alt="dmytro_krylov" loading="lazy"
          />
        </div>
        <div class="team_back">
          <div>
            <div class="team_people">
              <h1 class="team_name">Dmytro Krylov</h1>
              <p class="team_position">Developer</p>
            </div>
            <ul class="team_social-list">
              <!-- <li class="team_social-list-item"
                ><a class="team_social-list-link" target="_blank" href="https://www.instagram.com/krylov.dmytro/"
                  ><svg width="20" height="20">
                    <use href="/src/images/teamPageIcon/sprite.svg#icon-instagram"></use>
                  </svg>
                    </a
              ></li> -->
              <li class="team_social-list-item">
                <a
                  class="team_social-list-link"
                  target="_blank"
                  href="https://github.com/DmytroKrylov"
                  ><svg style="fill: white" width="20" height="20">
                    <use
                      href="/src/images/teamPageIcon/symbol-defs.svg#icon-github"
                    ></use></svg
                ></a>
              </li>
              <li class="team_social-list-item">
                <a
                  class="team_social-list-link"
                  target="_blank"
                  href="https://www.facebook.com/krulovdmutro"
                  ><svg width="20" height="20">
                    <use
                      href="/src/images/teamPageIcon/sprite.svg#icon-facebook"
                    ></use></svg
                ></a>
              </li>
              <li class="team_social-list-item">
                <a
                  class="team_social-list-link"
                  target="_blank"
                  href="https://www.linkedin.com/in/dmytrokrylov/"
                  ><svg width="20" height="20">
                    <use
                      href="/src/images/teamPageIcon/sprite.svg#icon-linkedin"
                    ></use></svg
                ></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="team_card">
        <div class="team_front">
          <img
            class="photo"
            src="/src/images/teamPageIcon/team_photo/Oksana_Ponomarova.png"
            alt="Oksana_Ponomarova" loading="lazy"
          />
        </div>
        <div class="team_back">
          <div>
            <div class="team_people">
              <h1 class="team_name">Oksana Ponomarova</h1>
              <p class="team_position">Developer</p>
            </div>
            <ul class="team_social-list">
              <!-- <li class="team_social-list-item"
                ><a class="team_social-list-link" href="#"
                  ><svg width="20" height="20">
                    <use href="/src/images/teamPageIcon/sprite.svg#icon-instagram"></use>
                  </svg>
                    </a
              ></li> -->
              <li class="team_social-list-item"
                ><a class="team_social-list-link" href="https://github.com/OksanaPonom"
                  ><svg style="fill: white;" width="20" height="20">
                    <use href="/src/images/teamPageIcon/symbol-defs.svg#icon-github"></use>
                  </svg></a
              ></li>
              <!-- <li class="team_social-list-item"
                ><a class="team_social-list-link" href="#"
                  ><svg width="20" height="20">
                    <use href="/src/images/teamPageIcon/sprite.svg#icon-facebook"></use>
                  </svg></a
              ></li> -->
              <li class="team_social-list-item"
                ><a class="team_social-list-link" href="https://www.linkedin.com/in/oksana-ponomarova-929b9325a"
                  ><svg width="20" height="20">
                    <use href="/src/images/teamPageIcon/sprite.svg#icon-linkedin"></use>
                  </svg></a
              ></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="team_card">
        <div class="team_front">
          <img
            src="/src/images/teamPageIcon/team_photo/Marharyta_Makarenko.png"
            alt="Marharyta_Makarenko" loading="lazy"
          />
        </div>
        <div class="team_back">
          <div>
            <div class="team_people">
              <h1 class="team_name">Marharyta Makarenko</h1>
              <p class="team_position">Developer</p>
            </div>
            <ul class="team_social-list">
              <!-- <li class="team_social-list-item"
                ><a class="team_social-list-link" href="#"
                  ><svg width="20" height="20">
                    <use href="/src/images/teamPageIcon/sprite.svg#icon-instagram"></use>
                  </svg>
                    </a
              ></li> -->
              <li class="team_social-list-item"
                ><a class="team_social-list-link" href="https://github.com/MakarenkoMargo"
                  ><svg style="fill: white;" width="20" height="20">
                    <use href="/src/images/teamPageIcon/symbol-defs.svg#icon-github"></use>
                  </svg></a
              ></li>
              <!-- <li class="team_social-list-item"
                ><a class="team_social-list-link" href="#"
                  ><svg width="20" height="20">
                    <use href="/src/images/teamPageIcon/sprite.svg#icon-facebook"></use>
                  </svg></a
              ></li> -->
              <li class="team_social-list-item">
                <a
                  class="team_social-list-link"
                  target="_blank"
                  href="https://www.linkedin.com/in/%D0%BC%D0%B0%D1%80%D0%B3%D0%B0%D1%80%D0%B8%D1%82%D0%B0-%D0%BC%D0%B0%D0%BA%D0%B0%D1%80%D0%B5%D0%BD%D0%BA%D0%BE-77501b218/"
                  ><svg width="20" height="20">
                    <use
                      href="/src/images/teamPageIcon/sprite.svg#icon-linkedin"
                    ></use></svg
                ></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="team_card">
        <div class="team_front">
          <img
            src="/src/images/teamPageIcon/team_photo/Sukhyna_Volodymyr.png"
            alt="Volodymyr_Sukhina" loading="lazy"
          />
        </div>
        <div class="team_back">
          <div>
            <div class="team_people">
              <h1 class="team_name">Volodymyr Sukhyna</h1>
              <p class="team_position">Developer</p>
            </div>
            <ul class="team_social-list">
              <!-- <li class="team_social-list-item"
                ><a class="team_social-list-link" href="/"
                  ><svg width="20" height="20">
                    <use href="/src/images/teamPageIcon/sprite.svg#icon-instagram"></use>
                  </svg>
                    </a
              ></li> -->
              <li class="team_social-list-item"
                ><a class="team_social-list-link" href="https://github.com/SkyMolfar"
                  ><svg style="fill: white;" width="20" height="20">
                    <use href="/src/images/teamPageIcon/symbol-defs.svg#icon-github"></use>
                  </svg></a
              ></li>
              <!-- <li class="team_social-list-item"
                ><a class="team_social-list-link" href="/"
                  ><svg width="20" height="20">
                    <use href="/src/images/teamPageIcon/sprite.svg#icon-facebook"></use>
                  </svg></a
              ></li> -->
              <!-- <li class="team_social-list-item"
                ><a class="team_social-list-link" href="/"
                  ><svg width="20" height="20">
                    <use href="/src/images/teamPageIcon/sprite.svg#icon-linkedin"></use>
                  </svg></a
              ></li> -->
            </ul>
          </div>
        </div>
      </div>
      <div class="team_card">
        <div class="team_front">
          <img
            src="/src/images/teamPageIcon/team_photo/Pasha_Samysev.png"
            alt="Pavlo_Samysev" loading="lazy"
          />
        </div>
        <div class="team_back">
          <div>
            <div class="team_people">
              <h1 class="team_name">Pavlo Samysev</h1>
              <p class="team_position">Developer</p>
            </div>
            <ul class="team_social-list">
              <!-- <li class="team_social-list-item"
                ><a class="team_social-list-link" href="/"
                  ><svg width="20" height="20">
                    <use href="/src/images/teamPageIcon/sprite.svg#icon-instagram"></use>
                  </svg>
                    </a
              ></li> -->
              <li class="team_social-list-item"></li>
                <a class="team_social-list-link" href="https://github.com/Perian11"
                  ><svg style="fill: white" width="20" height="20">
                    <use
                      href="/src/images/teamPageIcon/symbol-defs.svg#icon-github"
                    ></use></svg
                ></a>
              </li>
              <!-- <li class="team_social-list-item">
                <a class="team_social-list-link" href="/"
                  ><svg width="20" height="20">
                    <use
                      href="/src/images/teamPageIcon/sprite.svg#icon-facebook"
                    ></use></svg
                ></a>
              </li> -->
              <li class="team_social-list-item">
                <a class="team_social-list-link" href="https://www.linkedin.com/in/pavlo-samusiev-708235261/"
                  ><svg width="20" height="20">
                    <use
                      href="/src/images/teamPageIcon/sprite.svg#icon-linkedin"
                    ></use></svg
                ></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="team_card">
        <div class="team_front">
          <img
            src="/src/images/teamPageIcon/team_photo/Yuliya_Solovenuk.png"
            alt="Solovenuk_Yuliya" loading="lazy"
          />
        </div>
        <div class="team_back">
          <div>
            <div class="team_people">
              <h1 class="team_name">Solovenuk Yuliya</h1>
              <p class="team_position">Developer</p>
            </div>
            <ul class="team_social-list">
              <!-- <li class="team_social-list-item"
                ><a class="team_social-list-link" href="#"
                  ><svg width="20" height="20">
                    <use href="/src/images/teamPageIcon/sprite.svg#icon-instagram"></use>
                  </svg>
                    </a
              ></li>
              <li class="team_social-list-item"> -->
                <a class="team_social-list-link" href="https://github.com/YuliyaSolovenuk"
                  ><svg style="fill: white;" width="20" height="20">
                    <use href="/src/images/teamPageIcon/symbol-defs.svg#icon-github"></use>
                  </svg></a
              ></li>
              <!-- <li class="team_social-list-item"
                ><a class="team_social-list-link" href="#"
                  ><svg width="20" height="20">
                    <use href="/src/images/teamPageIcon/sprite.svg#icon-facebook"></use>
                  </svg></a
              ></li> -->
              <li class="team_social-list-item">
                <a
                  class="team_social-list-link"
                  target="_blank"
                  href="https://www.linkedin.com/in/yuliya-solovenuk-9a7625265"
                  ><svg width="20" height="20">
                    <use
                      href="/src/images/teamPageIcon/sprite.svg#icon-linkedin"
                    ></use></svg
                ></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="team_card">
        <div class="team_front">
          <img
            src="/src/images/teamPageIcon/team_photo/Serhii_Herasko.png"
            alt="Serhii_Herasko" loading="lazy"
          />
        </div>
        <div class="team_back">
          <div>
            <div class="team_people">
              <h1 class="team_name">Serhii Herasko</h1>
              <p class="team_position">Developer</p>
            </div>
            <ul class="team_social-list">
              <!-- <li class="team_social-list-item"
                ><a class="team_social-list-link" href="/"
                  ><svg width="20" height="20">
                    <use href="/src/images/teamPageIcon/sprite.svg#icon-instagram"></use>
                  </svg>
                    </a
              ></li> -->
              <li class="team_social-list-item"
                ><a class="team_social-list-link" href="https://github.com/sergey-g80"
                  ><svg style="fill: white;" width="20" height="20">
                    <use href="/src/images/teamPageIcon/symbol-defs.svg#icon-github"></use>
                  </svg></a
              ></li>
              <!-- <li class="team_social-list-item"
                ><a class="team_social-list-link" href="/"
                  ><svg width="20" height="20">
                    <use href="/src/images/teamPageIcon/sprite.svg#icon-facebook"></use>
                  </svg></a
              ></li> -->
              <!-- <li class="team_social-list-item"
                ><a class="team_social-list-link" href="/"
                  ><svg width="20" height="20">
                    <use href="/src/images/teamPageIcon/sprite.svg#icon-linkedin"></use>
                  </svg></a
              ></li> -->
            </ul>
          </div>
        </div>
      </div>
      <div class="team_card">
        <div class="team_front">
          <img
            src="/src/images/teamPageIcon/team_photo/Katerina_Riabykh.png"
            alt="Katerina_Riabykh" loading="lazy"
          />
        </div>
        <div class="team_back">
          <div>
            <div class="team_people">
              <h1 class="team_name">Katerina Riabykh</h1>
              <p class="team_position">Developer</p>
            </div>
            <ul class="team_social-list">
              <!-- <li class="team_social-list-item"
                ><a class="team_social-list-link" href="/"
                  ><svg width="20" height="20">
                    <use href="/src/images/teamPageIcon/sprite.svg#icon-instagram"></use>
                  </svg>
                    </a
              ></li> -->
              <li class="team_social-list-item">
                <a
                  class="team_social-list-link"
                  target="_blank"
                  href="https://github.com/Katrysya7773"
                  ><svg style="fill: white" width="20" height="20">
                    <use
                      href="/src/images/teamPageIcon/symbol-defs.svg#icon-github"
                    ></use></svg
                ></a>
              </li>
              <!-- <li class="team_social-list-item"
                ><a class="team_social-list-link" href="/"
                  ><svg width="20" height="20">
                    <use href="/src/images/teamPageIcon/sprite.svg#icon-facebook"></use>
                  </svg></a
              ></li> -->
              <li class="team_social-list-item">
                <a
                  class="team_social-list-link"
                  target="_blank"
                  href="https://www.linkedin.com/in/katerinariabukh/ "
                  ><svg width="20" height="20">
                    <use
                      href="/src/images/teamPageIcon/sprite.svg#icon-linkedin"
                    ></use></svg
                ></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
