<section class="section">
  <div class="container">
      <ul class="team-list">
        <li class="team-item">
         <svg class="team-ring" width="200" height="200">
          <use href="/src/images/teamPageIcon/icons.svg#ring"></use>
         </svg>
         <!-- <img src="" alt="gamburger" width="315" height="315" /> -->
         <div class="team_people">
          <h2 class="team_name">Viktoria Rosovska</h2>
          <p class="team_position">Team Lead</p> 
         </div>
        </li>
        <li class="team-item">
          <svg class="team-ring" width="200" height="200">
           <use href="/src/images/teamPageIcon/icons.svg#ring"></use>
          </svg>
         <!-- <img src="" alt="gamburger" width="315" height="315" /> -->
         <div class="team_people">
          <h2 class="team_name">Viktoria Rosovska</h2>
          <p class="team_position">Scrum Master</p> 
         </div>
        </li>
      </ul>
    <ul class="team-list">
      <li class="team-item">
        <svg class="team-ring" width="200" height="200">
          <use href="/src/images/teamPageIcon/icons.svg#ring"></use>
        </svg>
        <!-- <img src="" alt="gamburger" width="315" height="315" /> -->
        <div class="team_people">
          <h2 class="team_name">Dmytro Krylov</h2>
          <p class="team_position">Developer</p> 
         </div>
      </li>
      <li class="team-item">
        <svg class="team-ring" width="200" height="200">
          <use href="/src/images/teamPageIcon/icons.svg#ring"></use>
        </svg>
        <!-- <img src="" alt="Pasta" width="315" height="315" /> -->
        <div class="team_people">
          <h2 class="team_name">Viktoria Rosovska</h2>
          <p class="team_position">Developer</p> 
         </div>
      </li>
      <li class="team-item">
        <svg class="team-ring" width="200" height="200">
          <use href="/src/images/teamPageIcon/icons.svg#ring"></use>
        </svg>
        <!-- <img src="" alt="pizza" width="315" height="315" /> -->
        <div class="team_people">
          <h2 class="team_name">Viktoria Rosovska</h2>
          <p class="team_position">Developer</p> 
         </div>
      </li>
      <li class="team-item">
        <svg class="team-ring" width="200" height="200">
          <use href="/src/images/teamPageIcon/icons.svg#ring"></use>
        </svg>
        <!-- <img src="" alt="chicken" width="315" height="315" /> -->
        <div class="team_people">
          <h2 class="team_name">Viktoria Rosovska</h2>
          <p class="team_position">Developer</p> 
         </div>
      </li>
      <li class="team-item">
        <svg class="team-ring" width="200" height="200">
          <use href="/src/images/teamPageIcon/icons.svg#ring"></use>
        </svg>
        <!-- <img src="" alt="salat" width="315" height="315" /> -->
        <div class="team_people">
          <h2 class="team_name">Viktoria Rosovska</h2>
          <p class="team_position">Developer</p> 
         </div>
      </li>
      <li class="team-item">
        <svg class="team-ring" width="200" height="200">
          <use href="/src/images/teamPageIcon/icons.svg#ring"></use>
        </svg>
        <!-- <img src="" alt="borshch" width="315" height="315" /> -->
        <div class="team_people">
          <h2 class="team_name">Viktoria Rosovska</h2>
          <p class="team_position">Developer</p> 
         </div>
      </li>
    </ul>  
    <ul class="team-list">
      <li class="team-item">
       <svg class="team-ring" width="200" height="200">
        <use href="/src/images/teamPageIcon/icons.svg#ring"></use>
       </svg>
       <!-- <img src="" alt="gamburger" width="315" height="315" /> -->
       <div class="team_people">
        <h2 class="team_name">Viktoria Rosovska</h2>
        <p class="team_position">Developer</p> 
       </div>
      </li>
      <li class="team-item">
        <svg class="team-ring" width="200" height="200">
         <use href="/src/images/teamPageIcon/icons.svg#ring"></use>
        </svg>
       <!-- <img src="" alt="gamburger" width="315" height="315" /> -->
       <div class="team_people">
        <h2 class="team_name">Viktoria Rosovska</h2>
        <p class="team_position">Developer</p> 
       </div>
      </li>
    </ul>
  </div>
</section>
