<section class="section">
  <div class="container">
    <div class="team_wrap">
      <div class="team_card">
        <div class="team_front"><span>Front</span></div>
        <div class="team_back">
          <div>
            <div class="team_people">
              <h1 class="team_name">Viktoria Rosovska</h1>
              <p class="team_position">Team Lead</p>
            </div>
            <ul class="team_social-list">
              <li class="team_social-list-item"
                ><a class="team_social-list-link" href="/"
                  ><svg width="23" height="23">
                    <use href="/src/images/teamPageIcon/sprite.svg#icon-instagram"></use>
                  </svg>
                    </a
              ></li>
              <li class="team_social-list-item"
                ><a class="team_social-list-link" href="/"
                  ><svg style="fill: white;" width="23" height="23">
                    <use href="/src/images/teamPageIcon/symbol-defs.svg#icon-github"></use>
                  </svg></a
              ></li>
              <li class="team_social-list-item"
                ><a class="team_social-list-link" href="/"
                  ><svg width="23" height="23">
                    <use href="/src/images/teamPageIcon/sprite.svg#icon-facebook"></use>
                  </svg></a
              ></li>
              <li class="team_social-list-item"
                ><a class="team_social-list-link" href="/"
                  ><svg width="23" height="23">
                    <use href="/src/images/teamPageIcon/sprite.svg#icon-linkedin"></use>
                  </svg></a
              ></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="team_card">
        <div class="team_front"><span>Front</span></div>
        <div class="team_back">
          <div>
            <div class="team_people">
              <h1 class="team_name">Dmytro Krylov</h1>
              <p class="team_position">Developer</p>
            </div>
            <ul class="team_social-list">
              <li class="team_social-list-item"
                ><a class="team_social-list-link" href="/"
                  ><svg width="23" height="23">
                    <use href="/src/images/teamPageIcon/sprite.svg#icon-instagram"></use>
                  </svg>
                    </a
              ></li>
              <li class="team_social-list-item"
                ><a class="team_social-list-link" href="/"
                  ><svg style="fill: white;" width="23" height="23">
                    <use href="/src/images/teamPageIcon/symbol-defs.svg#icon-github"></use>
                  </svg></a
              ></li>
              <li class="team_social-list-item"
                ><a class="team_social-list-link" href="/"
                  ><svg width="23" height="23">
                    <use href="/src/images/teamPageIcon/sprite.svg#icon-facebook"></use>
                  </svg></a
              ></li>
              <li class="team_social-list-item"
                ><a class="team_social-list-link" href="/"
                  ><svg width="23" height="23">
                    <use href="/src/images/teamPageIcon/sprite.svg#icon-linkedin"></use>
                  </svg></a
              ></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="team_card">
        <div class="team_front"><span>Front</span></div>
        <div class="team_back">
          <div>
            <div class="team_people">
              <h1 class="team_name">Dmytro Krylov</h1>
              <p class="team_position">Developer</p>
            </div>
            <ul class="team_social-list">
              <li class="team_social-list-item"
                ><a class="team_social-list-link" href="/"
                  ><svg width="23" height="23">
                    <use href="/src/images/teamPageIcon/sprite.svg#icon-instagram"></use>
                  </svg>
                    </a
              ></li>
              <li class="team_social-list-item"
                ><a class="team_social-list-link" href="/"
                  ><svg style="fill: white;" width="23" height="23">
                    <use href="/src/images/teamPageIcon/symbol-defs.svg#icon-github"></use>
                  </svg></a
              ></li>
              <li class="team_social-list-item"
                ><a class="team_social-list-link" href="/"
                  ><svg width="23" height="23">
                    <use href="/src/images/teamPageIcon/sprite.svg#icon-facebook"></use>
                  </svg></a
              ></li>
              <li class="team_social-list-item"
                ><a class="team_social-list-link" href="/"
                  ><svg width="23" height="23">
                    <use href="/src/images/teamPageIcon/sprite.svg#icon-linkedin"></use>
                  </svg></a
              ></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="team_card">
        <div class="team_front"><span>Front</span></div>
        <div class="team_back">
          <div>
            <div class="team_people">
              <h1 class="team_name">Dmytro Krylov</h1>
              <p class="team_position">Developer</p>
            </div>
            <ul class="team_social-list">
              <li class="team_social-list-item"
                ><a class="team_social-list-link" href="/"
                  ><svg width="23" height="23">
                    <use href="/src/images/teamPageIcon/sprite.svg#icon-instagram"></use>
                  </svg>
                    </a
              ></li>
              <li class="team_social-list-item"
                ><a class="team_social-list-link" href="/"
                  ><svg style="fill: white;" width="23" height="23">
                    <use href="/src/images/teamPageIcon/symbol-defs.svg#icon-github"></use>
                  </svg></a
              ></li>
              <li class="team_social-list-item"
                ><a class="team_social-list-link" href="/"
                  ><svg width="23" height="23">
                    <use href="/src/images/teamPageIcon/sprite.svg#icon-facebook"></use>
                  </svg></a
              ></li>
              <li class="team_social-list-item"
                ><a class="team_social-list-link" href="/"
                  ><svg width="23" height="23">
                    <use href="/src/images/teamPageIcon/sprite.svg#icon-linkedin"></use>
                  </svg></a
              ></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="team_card">
        <div class="team_front"><span>Front</span></div>
        <div class="team_back">
          <div>
            <div class="team_people">
              <h1 class="team_name">Dmytro Krylov</h1>
              <p class="team_position">Developer</p>
            </div>
            <ul class="team_social-list">
              <li class="team_social-list-item"
                ><a class="team_social-list-link" href="/"
                  ><svg width="23" height="23">
                    <use href="/src/images/teamPageIcon/sprite.svg#icon-instagram"></use>
                  </svg>
                    </a
              ></li>
              <li class="team_social-list-item"
                ><a class="team_social-list-link" href="/"
                  ><svg style="fill: white;" width="23" height="23">
                    <use href="/src/images/teamPageIcon/symbol-defs.svg#icon-github"></use>
                  </svg></a
              ></li>
              <li class="team_social-list-item"
                ><a class="team_social-list-link" href="/"
                  ><svg width="23" height="23">
                    <use href="/src/images/teamPageIcon/sprite.svg#icon-facebook"></use>
                  </svg></a
              ></li>
              <li class="team_social-list-item"
                ><a class="team_social-list-link" href="/"
                  ><svg width="23" height="23">
                    <use href="/src/images/teamPageIcon/sprite.svg#icon-linkedin"></use>
                  </svg></a
              ></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="team_card">
        <div class="team_front"><span>Front</span></div>
        <div class="team_back">
          <div>
            <div class="team_people">
              <h1 class="team_name">Dmytro Krylov</h1>
              <p class="team_position">Developer</p>
            </div>
            <ul class="team_social-list">
              <li class="team_social-list-item"
                ><a class="team_social-list-link" href="/"
                  ><svg width="23" height="23">
                    <use href="/src/images/teamPageIcon/sprite.svg#icon-instagram"></use>
                  </svg>
                    </a
              ></li>
              <li class="team_social-list-item"
                ><a class="team_social-list-link" href="/"
                  ><svg style="fill: white;" width="23" height="23">
                    <use href="/src/images/teamPageIcon/symbol-defs.svg#icon-github"></use>
                  </svg></a
              ></li>
              <li class="team_social-list-item"
                ><a class="team_social-list-link" href="/"
                  ><svg width="23" height="23">
                    <use href="/src/images/teamPageIcon/sprite.svg#icon-facebook"></use>
                  </svg></a
              ></li>
              <li class="team_social-list-item"
                ><a class="team_social-list-link" href="/"
                  ><svg width="23" height="23">
                    <use href="/src/images/teamPageIcon/sprite.svg#icon-linkedin"></use>
                  </svg></a
              ></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="team_card">
        <div class="team_front"><span>Front</span></div>
        <div class="team_back">
          <div>
            <div class="team_people">
              <h1 class="team_name">Dmytro Krylov</h1>
              <p class="team_position">Developer</p>
            </div>
            <ul class="team_social-list">
              <li class="team_social-list-item"
                ><a class="team_social-list-link" href="/"
                  ><svg width="23" height="23">
                    <use href="/src/images/teamPageIcon/sprite.svg#icon-instagram"></use>
                  </svg>
                    </a
              ></li>
              <li class="team_social-list-item"
                ><a class="team_social-list-link" href="/"
                  ><svg style="fill: white;" width="23" height="23">
                    <use href="/src/images/teamPageIcon/symbol-defs.svg#icon-github"></use>
                  </svg></a
              ></li>
              <li class="team_social-list-item"
                ><a class="team_social-list-link" href="/"
                  ><svg width="23" height="23">
                    <use href="/src/images/teamPageIcon/sprite.svg#icon-facebook"></use>
                  </svg></a
              ></li>
              <li class="team_social-list-item"
                ><a class="team_social-list-link" href="/"
                  ><svg width="23" height="23">
                    <use href="/src/images/teamPageIcon/sprite.svg#icon-linkedin"></use>
                  </svg></a
              ></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="team_card">
        <div class="team_front"><span>Front</span></div>
        <div class="team_back">
          <div>
            <div class="team_people">
              <h1 class="team_name">Dmytro Krylov</h1>
              <p class="team_position">Developer</p>
            </div>
            <ul class="team_social-list">
              <li class="team_social-list-item"
                ><a class="team_social-list-link" href="/"
                  ><svg width="23" height="23">
                    <use href="/src/images/teamPageIcon/sprite.svg#icon-instagram"></use>
                  </svg>
                    </a
              ></li>
              <li class="team_social-list-item"
                ><a class="team_social-list-link" href="/"
                  ><svg style="fill: white;" width="23" height="23">
                    <use href="/src/images/teamPageIcon/symbol-defs.svg#icon-github"></use>
                  </svg></a
              ></li>
              <li class="team_social-list-item"
                ><a class="team_social-list-link" href="/"
                  ><svg width="23" height="23">
                    <use href="/src/images/teamPageIcon/sprite.svg#icon-facebook"></use>
                  </svg></a
              ></li>
              <li class="team_social-list-item"
                ><a class="team_social-list-link" href="/"
                  ><svg width="23" height="23">
                    <use href="/src/images/teamPageIcon/sprite.svg#icon-linkedin"></use>
                  </svg></a
              ></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="team_card">
        <div class="team_front"><span>Front</span></div>
        <div class="team_back">
          <div>
            <div class="team_people">
              <h1 class="team_name">Dmytro Krylov</h1>
              <p class="team_position">Developer</p>
            </div>
            <ul class="team_social-list">
              <li class="team_social-list-item"
                ><a class="team_social-list-link" href="/"
                  ><svg width="23" height="23">
                    <use href="/src/images/teamPageIcon/sprite.svg#icon-instagram"></use>
                  </svg>
                    </a
              ></li>
              <li class="team_social-list-item"
                ><a class="team_social-list-link" href="/"
                  ><svg style="fill: white;" width="23" height="23">
                    <use href="/src/images/teamPageIcon/symbol-defs.svg#icon-github"></use>
                  </svg></a
              ></li>
              <li class="team_social-list-item"
                ><a class="team_social-list-link" href="/"
                  ><svg width="23" height="23">
                    <use href="/src/images/teamPageIcon/sprite.svg#icon-facebook"></use>
                  </svg></a
              ></li>
              <li class="team_social-list-item"
                ><a class="team_social-list-link" href="/"
                  ><svg width="23" height="23">
                    <use href="/src/images/teamPageIcon/sprite.svg#icon-linkedin"></use>
                  </svg></a
              ></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="team_card">
        <div class="team_front"><span>Front</span></div>
        <div class="team_back">
          <div>
            <div class="team_people">
              <h1 class="team_name">Dmytro Krylov</h1>
              <p class="team_position">Developer</p>
            </div>
            <ul class="team_social-list">
              <li class="team_social-list-item"
                ><a class="team_social-list-link" href="/"
                  ><svg width="23" height="23">
                    <use href="/src/images/teamPageIcon/sprite.svg#icon-instagram"></use>
                  </svg>
                    </a
              ></li>
              <li class="team_social-list-item"
                ><a class="team_social-list-link" href="/"
                  ><svg style="fill: white;" width="23" height="23">
                    <use href="/src/images/teamPageIcon/symbol-defs.svg#icon-github"></use>
                  </svg></a
              ></li>
              <li class="team_social-list-item"
                ><a class="team_social-list-link" href="/"
                  ><svg width="23" height="23">
                    <use href="/src/images/teamPageIcon/sprite.svg#icon-facebook"></use>
                  </svg></a
              ></li>
              <li class="team_social-list-item"
                ><a class="team_social-list-link" href="/"
                  ><svg width="23" height="23">
                    <use href="/src/images/teamPageIcon/sprite.svg#icon-linkedin"></use>
                  </svg></a
              ></li>
            </ul>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</section>
