<section>
  <div class="container">
    <article class="sponsors-component">
      <div class="sponsors">
        <h2 class="sponsors-title">Support Ukraine</h2>
        <div class="overlay">
          <ul class="js-sponsors-list"></ul>
        </div>
        <button class="sponsors-slideUP__btn" type="button">up</button>
        <button class="sponsors-slideDown__btn" type="button">down</button>
      </div>
    </article>

    <h1 class="section-title">Best Seller Books</h1>

    <div class="book-card">
      <p class="book-category">Combined Print and E-Book Fiction</p>
      <img class="book-cover" src="./images/harlan.jpg" alt="harlan" />
      <h2 class="book-name">i will find you</h2>
      <h3 class="book-author">Harlan Coben</h3>
      <button class="book-card-btn" type="button">see more</button>
    </div>
    <div class="book-card">
      <p class="book-category">Combined Print and E-Book Fiction</p>
      <img class="book-cover" src="./images/harlan.jpg" alt="harlan" />
      <h2 class="book-name">i will find you</h2>
      <h3 class="book-author">Harlan Coben</h3>
      <button class="book-card-btn" type="button">see more</button>
    </div>
    <div class="book-card">
      <p class="book-category">Combined Print and E-Book Fiction</p>
      <img class="book-cover" src="./images/harlan.jpg" alt="harlan" />
      <h2 class="book-name">i will find you</h2>
      <h3 class="book-author">Harlan Coben</h3>
      <button class="book-card-btn" type="button">see more</button>
    </div>
  </div>
</section>
