body.dark-theme {
    background-color: var(--dark-theme);
    color: var(--ligtht-theme);
}

/* стилі для "header" */

body.dark-theme .header-container { 
  background-color: var(--dark-theme-componemt);
  border: 1.5px solid #FFFFFF;
}

body.dark-theme .icon-bookshelf{
    fill:  #F3F3F3;
}

body.dark-theme .logo-link:hover,
body.dark-theme .logo-link:focus,
body.dark-theme .icon-bookshelf:hover,
body.dark-theme .icon-bookshelf:focus {
  fill: var(--color-blue-component);
}


body.dark-theme .list-btn {
  fill:  #FFFFFF;
}

body.dark-theme .header-nav .current {
    color: #111111;
}

body.dark-theme .current:hover,
body.dark-theme .current:focus {
  color: var(--ligtht-theme);
  fill: var(--ligtht-theme);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15), 3px 12px 38px -5px rgba(231, 166, 26, 0.72);
}

body.dark-theme .checkbox {
  background: linear-gradient(180deg, #4F2EE8 0%, #686868 100%);
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
}


/* стилі для "book-category" */

body.dark-theme .book-category__list-item {
    color: rgba(255, 255, 255, 0.6);  
}

body.dark-theme .book-category__list-item:hover,
body.dark-theme .book-category__list-item:focus {
    color: #EAC645;
}

body.dark-theme ::-webkit-scrollbar-thumb {
  background: rgba(17, 17, 17, 0.6);
}

/* стилі для "home-books" */

body.dark-theme .book-card-btn {
  color: #FFFFFF;
}

body.dark-theme .book-card-btn:hover,
body.dark-theme .book-card-btn:focus {
  background-color: #4F2EE8;
}

/* стилі для "shopping-list" */

body.dark-theme .shop-main-title {
  color: #FFFFFF;
}


/* стилі для "footer" */

body.dark-theme .footer_container {
  border: 1.5px solid #FFFFFF;
  background-color: var(--dark-theme-componemt);
}

body.dark-theme .footer_text_right,
body.dark-theme .footer_text_left {
  color: #FFFFFF;
}