@import '~/node_modules/modern-normalize/modern-normalize.css';

@import url('./reset.css');
@import url('./fonts.css');

@import url('./base.css');

@import url('./common/header.css');

@import url('./home/book-category-list.css');
@import url('./home/book-card.css');
@import url('./home/home-books.css');
@import url('./home/book-categories-rendering.css');
@import url('./home/sponsors-home.css');


@import url('./shopping-list/shop-page.css');

@import url('./modals/modal-login-form.css');
@import url('./modals/modal-shopping-list.css');
@import url('./modals/modal-mobile-menu.css');
@import url('./modals/settings-modal.css');

@import url('./darkTheme.css');

@import url('./scrollBtn.css');

@import url('./modals/modal-mobile-menu.css');

@import url('./team-page/teamPage.css');
@import url('./common/footer.css');