@import '~/node_modules/modern-normalize/modern-normalize.css';

@import url('./reset.css');
@import url('./fonts.css');

@import url('./common.css');
@import url('./book-category-home.css');
@import url('./sponsors-home.css');

@import url('./scrollBtn.css');

:root {
    /* Variables */
}

body {
    font-family: "DM Sans", sans-serif ;
    font-weight: 400;
    font-size: 14px;
/* line-height: 1.286;
    color: var(--main-dark-theme);
    background-color: var(--main-light-theme); */
}



   
   
    