@import '~/node_modules/modern-normalize/modern-normalize.css';
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@import url('./reset.css');
@import url('./common.css');
@import url('./fonts.css');

:root {
    
}

body {
    font-family: "DM Sans", sans-serif ;
    font-weight: 400;
    font-size: 14px;
/* line-height: 1.286;
    color: var(--main-dark-theme);
    background-color: var(--main-light-theme); */
}



   
   
    