.shoplist-aside {
  display: none;
}
@media screen and (min-width: 1440px) {
  .shoplist-wrapper-desc {
    display: flex;
    gap: 40px;
  }
  .shoplist-aside {
    display: block;
  }
}
.shop-main-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.19;
  letter-spacing: -0.04em;

  color: var(--dark-theme-componemt);
}
@media screen and (min-width: 768px) {
  .shop-main-title {
    font-size: 48px;
    line-height: 1.08;
  }
}

.shop-sub-main-title {
  color: var(--color-blue-component);
}
/**
  |============================
  | Базовий фон
  |============================
*/
.shop-text-backgr {
  margin-top: 120px;
  margin-left: auto;
  margin-right: auto;
  width: 265px;
  line-height: 1.29;
  text-align: center;
  letter-spacing: -0.02em;
  color: rgba(0, 0, 0, 0.6);
}
@media screen and (min-width: 768px) {
  .shop-text-backgr {
    margin-top: 140px;
    width: 349px;
    font-size: 18px;
    line-height: 1.33;
  }
}
@media screen and (min-width: 1440px) {
  .shop-text-backgr {
    margin-top: 129px;
  }
}
.shop-img-backgr {
  margin-top: 14px;
  margin-left: auto;
  margin-right: auto;
  background-image: url('/src/images/shoplist-backgr-mob@1x.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  width: 265px;
  height: 198px;
}
@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .shop-img-backgr {
    background-image: url('/src/images/shoplist-backgr-mob@2x.png');
  }
}
@media screen and (min-width: 768px) {
  .shop-img-backgr {
    margin-top: 20px;
    width: 322px;
    height: 241px;
    background-image: url('/src/images/shoplist-backgr-tabl@1x.png');
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .shop-img-backgr {
      background-image: url('/src/images/shoplist-backgr-tabl@2x.png');
    }
  }
}
@media screen and (min-width: 1440px) {
  .shop-base-background {
    margin-left: 300px;
  }
  .shop-img-backgr {
    background-image: url('/src/images/shoplist-backgr-desk@1x.png');
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .shop-img-backgr {
      background-image: url('/src/images/shoplist-backgr-desk@2x.png');
    }
  }
}
.title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
/**
  |============================
  | кнопка очистки списку
  |============================
*/
.remove-books {
  padding: 4px 10px;
  border-radius: 36px;
  background-color: var(--color-blue-component);
  border: none;
  color: var(--ligtht-theme);
  margin-top: 0px;
  margin-bottom: 0px;
  cursor: pointer;
  font-weight: 500;
  font-size: 8px;
  line-height: calc(10 / 8);
  text-transform: uppercase;
  height: 28px;
  transition: background-color 350ms cubic-bezier(0.4, 0, 0.2, 1);
}
.remove-books:hover,
.remove-books:focus {
  background-color: var(--color-yellow-componemt);
}

@media screen and (min-width: 768px) {
  .remove-books {
    padding: 6px 12px;
    font-size: 10px;
    line-height: calc(12 / 10);
    /* height: 32px; */
  }
}

/**
  |============================
  |Стилі для карток
  |============================
*/
.shop-list-books {
  margin-top: 40px;
}

.shop-item-book {
  position: relative;
  display: flex;
  padding: 14px;
  gap: 14px;
  width: 335px;
  margin-top: 40px;
  background: var(--ligtht-theme);
  border: 2px solid rgba(79, 46, 232, 0.4);
  border-radius: 16px;
}
@media screen and (min-width: 768px) {
  .shop-item-book {
    padding: 24px;
    gap: 24px;
    width: 704px;
    min-height: 233px;
  }
}
@media screen and (min-width: 1440px) {
  .shop-item-book {
    width: 996px;
  }
}
.shop-secondary-title {
  width: 114px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.12;
  letter-spacing: -0.04em;

  color: var(--dark-theme-componemt);

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (min-width: 768px) {
  .shop-secondary-title {
    width: 100%;
  }
}
.shop-info-book {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.shop-book-img {
  border-radius: 8px;
  min-width: 100px;
  height: 142px;
}

@media screen and (min-width: 768px) {
  .shop-book-img {
    min-width: 116px;
    height: 165px;
  }
}

.shop-category {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #b4afaf;

  margin-top: 4px;
}

.shop-desc {
  line-height: 1.29;
  letter-spacing: -0.04em;

  color: var(--dark-theme-componemt);
  max-height: 68px;
  width: 193px;
  overflow-y: scroll;
  margin-top: 8px;
}
@media screen and (min-width: 768px) {
  .shop-desc {
    max-height: 53px;
    width: 508px;
    margin-top: 14px;
  }
}
@media screen and (min-width: 1440px) {
  .shop-desc {
    max-height: 54px;
    width: 808px;
  }
}
.shop-author-wrapper {
  display: flex;
  margin-top: 16px;
  align-items: end;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .shop-author-wrapper {
    margin-top: 48px;
  }
}
.shop-author {
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;

  letter-spacing: -0.04em;

  color: #b4afaf;
}
.shop-platform-list {
  display: flex;
  align-items: end;
  gap: 8px;
}

@media screen and (min-width: 768px) {
  .shop-platform-list {
    gap: 16px;
  }
}

.shop-delete-btn {
  position: absolute;
  top: 14px;
  right: 14px;
  outline: none;
  width: 28px;
  height: 28px;
  border-color: transparent;
  border-radius: 50% 50%;
  /* background-image: url('/src/images/trash.png'); */
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-color: var(--color-blue-component);
  background-position: center;
  background-image: url('/src/images/delete-book.svg');
  transition: background-color 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

.shop-delete-btn:hover,
.shop-delete-btn:focus {
  background-color: var(--color-yellow-componemt);
}

@media screen and (min-width: 768px) {
  .shop-delete-btn {
    top: 24px;
    right: 24px;
    width: 34px;
    height: 34px;
    background-size: 18px 18px;
  }
}

.shop-link-platform {
  outline: 2px solid red;
  outline-offset: -2px;
}
.shop-link-amazon,
.shop-link-applebook,
.shop-link-bookshop {
  display: block;
  width: 32px;
  height: 11px;

  background-image: url('/src/images/amazon.svg');
  background-repeat: no-repeat;
  background-size: 32px 11px;
  background-position: center;
  filter: grayscale(100%);
}
.shop-link-applebook {
  width: 16px;
  height: 16px;
  background-image: url('/src/images/applebook.svg');
  background-size: 16px 16px;
}
.shop-link-bookshop {
  width: 16px;
  height: 16px;
  background-image: url('/src/images/bookshop.svg');
  background-size: 16px 16px;
}
@media screen and (min-width: 768px) {
  .shop-link-amazon {
    width: 48px;
    height: 15px;
    background-size: 48px 15px;
  }
  .shop-link-applebook {
    width: 28px;
    height: 27px;
    background-size: 28px 27px;
  }
  .shop-link-bookshop {
    width: 32px;
    height: 30px;
    background-size: 32px 30px;
  }
}
.shop-link-amazon:hover,
.shop-link-amazon:focus,
.shop-link-applebook:hover,
.shop-link-applebook:focus,
.shop-link-bookshop:hover,
.shop-link-bookshop:focus {
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.15);
}

/**
  |============================
  | пагінація
  |============================
*/

.tui-pagination {
  height: 38px;
  margin: 14px 0 12px;
  line-height: normal;
  text-align: center;
  font-size: 0;
}

.tui-pagination .tui-page-btn {
  border-radius: 50%;
  width: 38px;
  height: 38px;
  padding: 8px 0 6px;
  /* margin-left: 2px; */
  font-size: 18px;
  line-height: 1.22;

  color: var(--dark-theme-componemt);
  border: 1px solid var(--dark-theme-componemt);

  /* для темної теми */
  /* color: var(--ligtht-theme);
  border: 1px solid var(--ligtht-theme); */
}

.tui-pagination .tui-page-btn:hover {
  background-color: var(--dark-theme-componemt);
  color: var(--ligtht-theme);

  /* для темної теми */
  /* background-color: var(--ligtht-theme);
  color: var(--dark-theme-componemt); */
}

.tui-pagination .tui-is-selected,
.tui-pagination strong {
  color: var(--ligtht-theme);
  background: var(--dark-theme-componemt);
  border: 1px solid var(--dark-theme-componemt);

  /* для темної теми */
  /* border: 1px solid var(--ligtht-theme);
  background-color: var(--ligtht-theme);
  color: var(--dark-theme-componemt); */
}

.tui-pagination .tui-first-child.tui-is-selected {
  /* для світлої теми */
  border: 1px solid var(--dark-theme-componemt);

  /* для темної теми */
  /* border: 1px solid var(--ligtht-theme);
  background-color: var(--ligtht-theme);
  color: var(--dark-theme-componemt); */
}
.tui-pagination .tui-last-child.tui-is-selected {
  /* для світлої теми */
  border: 1px solid var(--dark-theme-componemt);

  /* для темної теми */
  /* border: 1px solid var(--ligtht-theme);
  background-color: var(--ligtht-theme);
  color: var(--dark-theme-componemt); */
}

.tui-pagination .tui-is-selected:hover {
  /* для світлої теми */
  background-color: var(--ligtht-theme);
  color: var(--dark-theme-componemt);
  border: 1px solid var(--dark-theme-componemt);
}

.tui-pagination .tui-first,
.tui-pagination .tui-prev,
.tui-pagination .tui-next,
.tui-pagination .tui-last,
.tui-pagination .tui-prev-is-ellip,
.tui-pagination .tui-next-is-ellip {
  overflow: hidden;
  height: 38px;
  padding: 4px;
  line-height: 26px;
}

.tui-page-inputs {
  vertical-align: center;
}

.tui-page-inputs .tui-page-input {
  color: var(--dark-theme-componemt);
  border: 1px solid var(--dark-theme-componemt);
  /* для темної теми */
  /* color: var(--ligtht-theme);
  border: 1px solid var(--ligtht-theme); */
}

.tui-pagination .tui-next-is-ellip,
.tui-pagination .tui-first + .tui-prev,
.tui-pagination .tui-next + .tui-last {
  border: 1px solid var(--dark-theme-componemt);
  /* для темної теми */
  /* border: 1px solid var(--ligtht-theme); */
}
.tui-pagination .tui-prev-is-ellip,
.tui-pagination .tui-next-is-ellip {
  padding: 8px 0;
  line-height: 1;
}

.tui-first,
.tui-prev,
.tui-next,
.tui-last {
  background-color: var(--color-yellow-componemt);
}
.tui-pagination .tui-is-disabled {
  background: var(--dark-theme-componemt);
}

.tui-pagination .tui-page-btn.tui-is-disabled.tui-first:hover,
.tui-pagination .tui-page-btn.tui-is-disabled.tui-last:hover,
.tui-pagination .tui-page-btn.tui-is-disabled.tui-next:hover,
.tui-pagination .tui-page-btn.tui-is-disabled.tui-prev:hover {
  background: var(--dark-theme-componemt);
}
.amount-books {
  margin-top: 20px;
}
