/* .card-backdrop-modal {
  position: fixed;
  z-index: 23;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(17, 17, 17, 0.4);
  overflow: auto;
  opacity: 1;
  transition: opacity 700ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.modal {
  position: absolute;
  z-index: 22;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: opacity 700ms cubic-bezier(0.4, 0, 0.2, 1);
} */



.modal{
  position: relative;
  box-sizing: border-box;
  position: relative;
  width: 579px;
  height: 465px;
  background: #FFFFFF;
  border: 2px solid #111111;
  border-radius: 18px;
  padding: 40px;
} 



.modal__shopping-button{
  width: 499px;
  height: 64px;
  border: 2px solid #4F2EE8;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  color: #4F2EE8;
  cursor: pointer;
} 




.modal__close{
  position: absolute;
  top: 31px;
  right: 31px;
}

